:root {
    --backgroundCol: #141414;
    --backgnd: rgba(0,0,0,0.5);
    --hover: #bbb;
    --main_text: #fff;
    /* --backgnd: #000;
    --hover: #bbb;
    --main_text: #fff; */
    /* --backgnd: #fff;
    --hover: #bbb;
    --main_text: #000; */
}

*{
    font-family: 'Overpass Mono', monospace;
}

body{
    background-color: var(--backgroundCol);
    background-image: linear-gradient(0deg, var(--backgroundCol), rgba(0,0,0,1));

}

.navbar{
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    color: var(--main_text);
}

.nav__container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav__list{
    height: 100%;
    width: 20%;
}

.nav__list ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.nav__list li{
    display: flex;    
} 

.nav__button{
    /* background-color: var(--backgnd); */
    text-decoration: none;
    height: fit-content;
    font-size: 13px;
    font-weight: 100;
    margin: auto 0;
    color: var(--main_text);
    cursor: pointer;
}

.nav__button:hover{
    color: var(--hover);
}

.logout__button{
    text-decoration: none;
    color: var(--main_text);
    font-size: 13px;
}

.nav__co{
    height: 100%;
    width: fit-content;
    display: flex;
}

.nav__co a{
    margin: auto 0;
    color: var(--main_text);
    text-decoration: none;
}

.img__container{
    width: 100%;
    height: 900px;
    overflow: hidden;
    z-index: 0;
}

.img__background{ 
    /* -webkit-filter: blur(5px); 
  filter: url('blur.svg#blur');
  filter: blur(5px); */
    margin-top: -40px;
    /* width: 100%; */
    height: 900px;
    /* opacity: 0.5; */
}

.main__quote{
    color: #fff;
    position: fixed;
    top: 37%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    z-index: 999;
}

.main__downButton{
    opacity: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10%;
    color: #fff;
    font-size: 2rem;
}

.main__downButton h1{
    cursor: pointer;
}

.main__downButton h1:hover{
    color: var(--hover);
}

#firstQuote{
    opacity: 0;
    width: 100%;
    /* margin-left: -150px; */
}

#secondQuote{
    opacity: 0;
    width: 100%;
    /* margin-left: 150px; */
}

#quoteAuthor{
    opacity: 0;
    font-size: 2rem;
}

.main__logo{
    position: fixed;
    top: 0;
    margin-top: -80px;
    left: 40%;
    right: 40%;
    width: 20%;
}
/* .right_container{
    background-color: #fff;
    width: 25%;
    height: 800px;
    position: absolute;
    top: 40px;
    right: 0;
} */

@media screen and (max-width: 960px) {

    .main__quote{  
        /* top: 25%; */
        font-size: 3rem;
    }
    .nav__container{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0 ease;
        height: 50vh;
        z-index: -1;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    }

    .nav__list{
        margin: 0 auto;
        width: 100%;
    }

    .nav__list ul{
        flex-direction: column;
        width: 100%;
    }

    .nav__list li{
        user-select: none;
        width: fit-content;
        margin: 20px auto;
    }

    .nav__co{
        display: flex;
        width: 100%;
        background-color: aqua;
        /* width: fit-content; */
        /* margin: 0 auto; */
        z-index: -1;
    }

    .nav__co a{
        position:fixed;
        width: 100%;
        /* left: 50%;
        right: 50%; */
        top: 10px;
        text-align: center;
    }

    .nav__container.active{
        background-color: var(--backgnd);
        top: 100%;
        opacity: 1;
        transition: all 0 ease;
        z-index: 99;
        height: fit-content;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar{
        height: 3px;
        width: 25px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu{
        z-index: 999;
        position: absolute;
        top: 0;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}


/* .sidebar__container{
    background-color: rgb(121, 20, 20);
    position: fixed;
    width: 25%;
    height: 100px;
    right: 0;
    top: 40px;
    z-index: 0;
} */




.main_container{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    height: auto;
}

.main_content{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}

/* .trash_container{
    position: fixed;
    top: 80px;
    width: fit-content;
    height: fit-content;
    background-color: aquamarine;
} */

.shop_button, .clear_button{
    position: fixed;
    top: 50px;
    z-index: 999;
    cursor: pointer;
    width: fit-content;
    padding: 5px 5px;
    border: solid;
    border-width: 3px;
    border-radius: 8px;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(198, 60, 60);
}

.shop_button{
    position: absolute;
    top: 2%;
    right: 10px;
}

.clear_button{
    right: 20px;
}

.sidebar__container{
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 0px;
    background-color: #fff;
    width: 0%;
    overflow-y: scroll;
    max-height: 775px;
    border: none;
}

.basket_content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* background-color: darkgreen; */
    width: 100%;
    height: fit-content;
}

.basket_title{
    margin-top: 12px;
    margin-left: 20px;
    width: fit-content;
    font-size: 3rem;
    text-align: center;
}

.basket_h1{
    padding: 20px 20px;
    font-size: 2rem;
    text-align: center;
}

.basket_list{
    text-align: center;
    font-size: 1.5rem;
}

.login_menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.login_menu_button{
    cursor: pointer;
    font-size: 13px;
}

.log_menu_selected{
    text-decoration: underline;
}

.signup_form{
    /* padding: 20px; */
    width: 100%;
    
}

.signup_form form{
    width: auto;
    margin: 0 20px;
    /* background-color: aqua; */
}

.signup_form input[type=text], input[type=password]{
    cursor: pointer;
    width: 100%;
    padding: 15px 0;
    margin: 15px 0;
    display: inline-block;
    border: none;
    border-radius: 2px;
}

.signup_form button[type=submit]{
    cursor: pointer;
    background-color: var(--backgroundCol);
    color: var(--main_text);
    width: 100%;
    padding: 5px 20px;
    margin: 15px auto;
    border: none;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 100;
}
.signup_form button[type=submit]:hover{
    transition: all 0.3s ease;
    background-color: var(--hover);
}

.basket_list li{
    margin: 0 auto;
    width: 95%;
    height: 50px;
    margin-bottom: 25px;
    border: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    /* border-radius: 10px; */
    border-width: 2px;
}

.categorie__title{
    padding: 0 5%;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 100;
    color: var(--main_text)
}


.elem_container{
   
    /* background-color: brown; */
    /* max-width: 857px;  */
    height: 500px;
    margin-bottom: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 5%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y:hidden;
    overflow-x: scroll;
    scrollbar-color: var(--backgroundCol);
}

.elem_search_container{
    padding: 5% 5%;
    height: fit-content;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   /*  overflow-y:scroll;
    overflow-x: hidden; */
    scrollbar-color: var(--backgroundCol);
}

.categoryImg{
    /* background-color: rgba(0, 255, 255, 0.389); */
    -webkit-filter: blur(10px); 
  filter: url('blur.svg#blur');
  filter: blur(10px);
   /*  margin-top: 200px; */
   z-index: -1;
   position: absolute;
    width: 100%;
    height:480px;
    opacity: 0.3;
}

.fantasyCat{
    background-image: url('../src/img/category/fantasy.jpeg');
}

.cultureCat{
    background-image: url('../src/img/category/culture.webp');
}
.elem{
    background-color: rgba(0,0,0,0.7);
    min-width: 250px;
    height: fit-content;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 50px;
    border-radius: 5px;
    overflow: visible;
    box-shadow: 10px 15px 10px rgba(0,0,0,0.7);

}

.img_container{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 75%;
}

.star_container{
    width: fit-content;
    padding: 0 4px;
    margin-left: 5px;
    font-size: 2.5rem;
    color: var(--main_text);
    display: flex;
    flex-direction: column;
}

.star_container h4{
    font-size: 15px;
    margin: auto auto;
}
.data_container{
    width: 100%;
    height: 25%;
    text-align: center;
    color: var(--main_text);
}

.img{
    width: 180px;
    margin: auto auto;
    margin-right: 0;
}

.data_container h1{
    font-size: 1.2rem;
    padding-top: 10px;
    font-weight: 900;
}

.data_container h2{
    padding-top: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.data_container h4{
    min-height: 30px;
    max-width: 250px;
}

.data_container a{
    color: var(--main_text);
    height: fit-content;
    margin: auto 0;
}

.data_container_footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

@media screen and (max-width: 1250px){
    .basket_title{
        font-size: 2.5rem;
        margin-left: 8px;
        line-height: 3rem;
    }
}

@media screen and (max-width: 1050px){
    /* .elem_container{
        max-width: 642px; 
    } */
    .basket_title{
        margin-left: 20px;
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 840px){
    /* .elem_container{
        max-width: 428px; 
    } */
    .basket_title{
        margin-left: 10px;
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (max-width: 630px){
    /* .elem_container{
        max-width: 205px; 
    } */
    .basket_title{
        margin-left: 20px;
        font-size: 1.5rem;
        line-height: 3rem;
    }
}
  
.bookinfo__imgContainer{
    width: 100%;
    height: 820px;
    display: flex;
    opacity: 0.5;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgb(29, 75, 193), rgba(0,0,0,1));
    box-shadow: 10px 15px 10px rgba(0,0,0,0.7);

    /* background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1)); */

}

.bookinfo__background{
    margin: 0 auto;
    width: 80%;
    -webkit-filter: blur(10px); 
  filter: url('blur.svg#blur');
  filter: blur(10px);
    min-height: 1220px;
}

.bookinfo__img{
    /* background-color: aqua; */
    margin: 0 auto;
}

.bookinfo__container{
    position:absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 15%;
    top: 40px;
    width: 70%;
    height: fit-content;

    /* background-color: aqua; */
}

.bookinfo__section , .bookinfo__section__bis{
    background-color: var(--backgnd);
    box-shadow: 10px 15px 10px rgba(0,0,0,0.7);
    margin: 0 auto;
    margin-bottom: 25px;
    /* padding: 2; */
    width: 100%;
    height: 0;
    max-height: 570px;
    overflow-y: scroll;
    color: var(--main_text);
}

.bookinfo__section:hover{
    height: 48%;
}

.bookinfo__section:not(:hover){
    transition: all 1.5s ease-out;  
    height: 48%;
}

.bookinfo__section__bis:not(:hover){
    transition: all 1.5s ease-out;  
    height: 60px;
}

.bookinfo__desc{
    height: 60px;
    overflow: hidden;
}

.bookinfo__sameauthor{
    height: 60px;
    overflow: hidden;
}

.bookinfo__section .bookinfo__htxt, .bookinfo__section__bis .bookinfo__htxt{
    color: var(--main_text);
    margin: 25px auto;
    /* text-align: left; */
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(0, 0, 0, 0); /* Safari */  
  text-decoration-color: rgba(0, 0, 0, 0);
    
}

.bookinfo__section .bookinfo__htxt{
    width: fit-content;
}

/* .bookinfo__section a{
    color: var(--main_text);
} */

.bookinfo__htxt:hover{
    text-decoration: underline;
  -webkit-text-decoration-color: var(--main_text); /* Safari */  
  text-decoration-color: var(--main_text);
}

.bookinfo__htxt:not(:hover){
    transition-timing-function: ease-out;
    transition-property: text-decoration-color;
    transition-duration:  0.9s; 
}

.bitxt_nohover:hover, .bitxt_nohover:not(:hover){
    text-decoration: none;
}

.bitxt_info{
    width: 92%;
}

.bookinfo__buttonDown{
    cursor: pointer;
}
.bookinfo__buttonDown:hover{
    color: var(--hover);
}

.bookinfo__section p, .bookinfo__section__bis p{
    width: 93%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5rem;
}
.bookinfo__top{
/*     background-color: aquamarine;

 */    display: flex;
 justify-content: space-around;
    flex-wrap: wrap;
}

.bookinfo__topright{
    width: 70%;
    margin: auto 25px;
    padding: 25px 0;
    color: var(--main_text);
}

.search_txt{
    margin: 25px 0;
    text-align: center;
}

.search_ipt{
    width: 80%;
    margin: 0 auto;
}

.footer__container{
    color: var(--main_text);
    font-size: 13px;
    line-height: 1.5rem;
    padding: 20px 40px;
}

.footer__container h1{
    cursor: pointer;
    width: fit-content;
}

.footer__container h1:hover{
    color: var(--hover);
}

.footer__container h2{
    text-align: center;
}

.newproduct__form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.newproduct__form input{
    width: 50%;
    margin-bottom: 25px;
    padding: 5px 0;
}

.newproduct__form label{
    padding: 5px 0;
    height: fit-content;
    font-size: 1rem;
}

.form__row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newproduct__submit{
    cursor: pointer;
    border: none;
    padding: 5px 20px;
}
.newproduct__submit:hover{
    background-color: var(--hover);
}